@font-face {
  font-family: nova-bold;
  src: url(assets/fonts/proxima_nova_alt_bold-webfont.woff2) format("opentype");
}

@font-face {
  font-family: sharp-sans-bold;
  src: url(assets/fonts/SharpSansNo1-Bold.woff2) format("opentype");
}



@font-face {
  font-family: proxima-nova-regular;
  src: url(assets/fonts/proximanova-regular-webfont.woff2) format("opentype");
}

@font-face {
  font-family: sharp-sans-regular;
  src: url(assets/fonts/SharpSansNo1Medium-Regular.woff2) format("opentype");
}
