<div class="row text-center text-md-left">
  <div class="col-md-2">
    <img src="assets/images/img-rodriguez.png" height="70" width="70">
  </div>
  <div class="col-md-10">
    <h5>José Perez</h5>
    <p>Presidente</p>
  </div>
</div>
<div class="row mt-3  text-center text-md-left">
  <div class="col-md-2">
    <img src="assets/images/img-rodriguez.png" height="70" width="70">
  </div>
  <div class="col-md-10">
    <h5>José Perez</h5>
    <p>Customer Service Senior Manager</p>
  </div>
</div>
<div class="row mt-3 text-center text-md-left">
  <div class="col-md-2">
    <img src="assets/images/img-rodriguez.png" height="70" width="70">
  </div>
  <div class="col-md-10">
    <h5>José Perez</h5>
    <p>Senior Service Senior Consultant</p>
  </div>
</div>
<div class="row mt-3  text-center text-md-left">
  <div class="col-md-2">
    <img src="assets/images/img-rodriguez.png" height="70" width="70">
  </div>
  <div class="col-md-10">
    <h5>José Perez</h5>
    <p>Gerente Service Senior Soluciones</p>
  </div>
</div>
