<!--FOOTER START-->
<footer class="footer-color heigth-footer">
  <div class="container">
    <div class="row pt-5">
      <div class="col-6 mt-3">
        <p>© 2020</p>
      </div>
      <div class="col-6 text-center">
        <div class="redes mr-2">
          <i class="fab fa-twitter text-white p-3"></i>
        </div>
        <div class="redes mr-2">
          <i class="fab fa-facebook-f text-white p-3"></i>
        </div>
        <div class="redes mr-2">
          <i class="fab fa-linkedin-in text-white p-3"></i>
        </div>
        <div class="redes mr-2  mt-2 mt-lg-0">
          <i class="fab fa-youtube text-white p-3"></i>
        </div>
        <div class="redes mr-2  mt-2 mt-lg-0">
          <i class="fab fa-instagram text-white p-3"></i>
        </div>
        <div class="redes mr-2 mt-2 mt-lg-0">
          <i class="fab fa-snapchat-ghost text-white p-3"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--FOOTER END-->
